In [18]:
import pandas
data1 = pandas.read_csv('https://archive.ics.uci.edu/ml/machine-learning-databases/wine/wine.data', names=['foo', 'bar', 'baz'])
data1.head()

                                                      foo   bar   baz
1 14.23 1.71 2.43 15.6 127 2.80 3.06 0.28 2.29 5.64  1.04  3.92  1065
  13.20 1.78 2.14 11.2 100 2.65 2.76 0.26 1.28 4.38  1.05  3.40  1050
  13.16 2.36 2.67 18.6 101 2.80 3.24 0.30 2.81 5.68  1.03  3.17  1185
  14.37 1.95 2.50 16.8 113 3.85 3.49 0.24 2.18 7.80  0.86  3.45  1480
  13.24 2.59 2.87 21.0 118 2.80 2.69 0.39 1.82 4.32  1.04  2.93   735

In [17]:
data2 = pandas.read_csv('https://archive.ics.uci.edu/ml/machine-learning-databases/wine/wine.data', names=['foo', 'bar', 'baz'])
data2.head()

                                                      foo   bar   baz
1 14.23 1.71 2.43 15.6 127 2.80 3.06 0.28 2.29 5.64  1.04  3.92  1065
  13.20 1.78 2.14 11.2 100 2.65 2.76 0.26 1.28 4.38  1.05  3.40  1050
  13.16 2.36 2.67 18.6 101 2.80 3.24 0.30 2.81 5.68  1.03  3.17  1185
  14.37 1.95 2.50 16.8 113 3.85 3.49 0.24 2.18 7.80  0.86  3.45  1480
  13.24 2.59 2.87 21.0 118 2.80 2.69 0.39 1.82 4.32  1.04  2.93   735

In [ ]:
data2 = pandas.read_csv('https://archive.ics.uci.edu/ml/machine-learning-databases/wine/wine.data', names=['foo', 'bar', 'baz'])